.webix_bullet_name{
	width:100;
}
.webix_bullet_header{
	font-weight: bold;
	font-size: 15px;
}
.webix_bullet_subheader{
	font-size: 15px;
}
.webix_bullet_scale{
	font-size: 12px;
	font-weight: bold;
}