.webix_color_row{
	clear: both;
	white-space: nowrap;
}
.webix_color_palette{
	text-align: left;
	#box >.noselect;
}

.webix_color_row, .webix_color_row div, .webix_color_selector{
	line-height: 0;
	font-size: 0;
}

.webix_color_row div{
	display: inline-block;
	width: 15px;
	height: 15px;
	cursor: default;
}
.webix_color_row div[aria-selected="true"]:focus div{
	box-shadow:inset 0 0 15px #fff;
}
.webix_color_selector{
	#box > .sizing;
	position: relative;
	border: 2px solid #f3f3f3;
}