.webix_dt_editor{
	position:absolute;
	z-index:2;
	overflow:visible;
	background:white;
}
.webix_dt_editor input, .webix_dt_editor select{
	width:100%; 
	#box > .sizing;
	/* to look perfect in IE it must be 1/9/0/9 */
	padding: 1px 8px 0px 9px;
	margin:0px;
	border:1px solid #ffd700;
	height: 100%;

	.mainFont;
	.dataFont;
}

.webix_dt_editor input[type="checkbox"]{
	margin:6px 8px 4px 14px;
	height:auto;
	width:auto;
}
.webix_dt_editor select{
	padding-right:0px;
	padding-left:5px;
}

.webix_clipbuffer{
	width:2000px;
	height:1px; padding:0; margin:0; border:0;
	left:0px;
	top:0px;
	white-space: pre-wrap;
	position:fixed;
	filter:alpha(opacity=0);
	opacity:0;
	pointer-events: none;
	cursor: default;
}