.webix_organogram canvas {
	position: absolute;
}
.webix_organogram_item{
	position: absolute;
	z-index: 1;
	text-align: center;
	border-radius: 4px;
	background-color: #e3f2fd;
	border: 1px solid #bbdefb;
	padding: 7px 7px 10px 7px;
	box-sizing: border-box;
}
.webix_organogram_item.webix_selected{
	background-color: @selectColor;
	border-color: @selectColor;
}
.webix_organogram_list{
	border-radius: 4px;
	position: absolute;
	z-index: 1;
	height: auto;
	border: 1px solid #dddddd;
	box-sizing: border-box;
}
.webix_organogram_list .webix_organogram_list_item{
	border: none;
	text-align: left;
	position: static;
	padding: 5px;
	border-radius: 0px;
	box-sizing: border-box;
}



