.webix_richtext_editor {
	height: 100%;
}

.webix_template .webix_richtext_editor:focus {
	outline: none;
}

.webix_richtext_container .webix_template {
    padding: 10px;
    overflow-x: auto;
    border: solid @borderColor;
    border-width: 0px 1px 1px;
    border-radius: 0px 0px 6px 6px;
}

.webix_richtext_inp_label .webix_template{
    .webix_inp_label;
    padding-top: 10px;
    float: none;
}