@menuShadowColor: rgba(0, 0, 0, 0.05);
@duration: 0.6s;
// Left
.webix_popup.webix_sidemenu.webix_sidemenu_left{
	border-width: 0 1px 0 0;
	box-shadow: 2px 0 2px @menuShadowColor;
}
.webix_sidemenu_left.webix_animate{
	transition: left @duration;
}
// Right
.webix_popup.webix_sidemenu.webix_sidemenu_right{
	left: auto;
	border-width: 0 0 0 1px;
	box-shadow: -2px 0px 2px @menuShadowColor;
}
.webix_sidemenu_right.webix_animate{
	transition: right @duration;
}
// Top
.webix_popup.webix_sidemenu.webix_sidemenu_top{
	border-width: 0 0 1px 0 ;
	box-shadow: 0 2px 2px @menuShadowColor;
}
.webix_sidemenu_top .webix_win_body{
   position: relative;
}
.webix_sidemenu_top .webix_win_body > .webix_view{
	position: absolute;
	top: auto;
	left:0;
	bottom:0;
}
.webix_sidemenu_top.webix_animate, .webix_sidemenu_top.webix_animate .webix_win_body{
	transition: height @duration;
}
// Bottom
.webix_popup.webix_sidemenu.webix_sidemenu_bottom{
	border-width: 1px 0 0 0 ;
	top: auto;
	box-shadow: 0 -2px 2px @menuShadowColor;
}
.webix_sidemenu_bottom.webix_animate, .webix_sidemenu_bottom.webix_animate .webix_win_body{
	transition: height @duration;
}



