.webix_sparklines{
    padding: 1px 0;
    box-sizing: border-box;
}
.webix_sparklines svg{
    box-sizing: border-box;
}
.webix_sparklines_line{
    stroke: #3498db;
    stroke-width: 1;
    fill: transparent;
    stroke-linecap: round;
}
.webix_sparklines_item{
    fill: #3498db;
    stroke-width: 1;
}
.webix_sparklines_bar{
    fill: #6dbcf0;
}
.webix_sparklines_bar_negative{
    fill: #d86c79;
}
.webix_sparklines_area{
    fill: #e5eef4;
}
.webix_sparklines_origin{
    stroke: #888;
    stroke-width: 1;
}
.webix_sparklines_event_area{
    fill:transparent;
}

.webix_sparklines_line_chart, .webix_sparklines_area_chart, .webix_sparklines_splinearea_chart{
    .webix_sparklines_event_area:hover{
        fill: rgba(220, 220, 220, 0.40);
        stroke: rgba(255, 255, 255, 0.6);
    }
}
.webix_sparklines_pie_chart, .webix_sparklines_bar_chart{
    .webix_sparklines_event_area:hover{
        fill: rgba(255, 255, 255, 0.3);
    }
}