//from view.css
html, body{
	overflow:auto;
}

.webix_view{
	vertical-align:top;
}

.webix_accordionitem_header .webix_accordionitem_button, .webix_accordionitem_header_v .webix_accordionitem_button{
	margin: 18px 7px;
}
.webix_accordionitem_header .webix_accordionitem_button.collapsed{
    margin: 18px 7px;
}