.webix_treemap{
	background-color: #f5f5f5;
}
.webix_treemap .webix_scroll_cont{
	position: relative;
	height: 100%;
	width: 100%;
}
.webix_treemap_item{
	position: absolute;
	color: #444;
	overflow: hidden;
	text-align: left;
	#box >.sizing;
	padding: 3px 5px;
	border-width: 0px 1px 1px 0;
	border-style: solid;
	border-color: rgba(0,0,0,0.2);
	background: transparent;
	cursor:pointer;
}
.webix_treemap_level_top{
	z-index: 1;
	border-color: rgba(0,0,0,0.4);
}

.webix_treemap_item_bottom{
	border-bottom-width:0;
}
.webix_treemap_item_right{
	border-right-width:0;
}
.webix_treemap_item:hover{
	box-shadow: inset 0 0 5px #666;
}
.webix_treemap_item.webix_selected{
	border-color: @selectColor;
	box-shadow: inset 0 0 1px 2px @selectColor;
}
.webix_treemap_header{
	width: 100%;
	#box >.sizing;
}
.webix_treemap_header{
	padding: 0 10px;
	border-bottom: 1px solid @borderColor;
}
.webix_treemap_header_item{
	cursor: pointer;
}
.webix_treemap_header_item:hover{

}

.webix_treemap_header_item:last-child{
	cursor: default;
}
.webix_treemap_reset{
	float:right;
	width: 25px;
	text-align: center;
}
.webix_treemap_reset:before{
	content: "\F011";
	color: @fontColor;
	font-family: @iconFamily;
	font-size: 16px;
	display: block;
	cursor: pointer;
}
.webix_treemap_path_icon{
	width: 20px;
	text-align: center;
}